* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: white;
    opacity: 0.6;
    color: seashell;
    font-size: 22px;
}

header {
   
}
nav {
    background-color: black;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;    

}
.logo {
   color: seashell;
    height: 50px;
    margin-left: 10px;
}
nav ul {
    margin-right: 10px;
}

nav li {
    margin: 5px;
    display: inline;
}

header li a {
    color: seashell;
    
}
.main {
    background-color: black;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../css/images/img-mission-background.JPEG');
    background-repeat: no-repeat;
    background-position: center;
}

.first-section {
    width: 1200px;
    background-color: black;
    
    
}
.tea {
   
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
    position: relative;
    
}
.tea-intro {
   text-align: center;
   padding: 0;
}

.img {
  
    width: 300px;
    height: 200px; 
    
    
}
.img img {
    width: 300px;
    height: 200px; 
}
.img h4 {
    text-align: center;
}
.location {
    height: 500px;
    margin-top: 50px;
    background-image: url('../css/images/img-locations-background.JPEG');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

   
}

.down-town, .east-bay-side, .oakdale {
    width: 300px;
    height: 300px;
    background-color: black
}

.location h3, p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.location h2 {
   position:absolute;
   top: 15px;
   
}

.tea-cosy {
    height: 200px;
    text-align: center;
    font-weight: bold;
    
    
}
footer p {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
}
